{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}{{ game.name }} ({{ game.game_name.title() }}){% endblock %}</h2>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tbody>
    <tr>
        <td>Status</td>
        <td>{% if game.pod_name %}
            <a onclick="return confirm('Are you sure you want to stop {{ game.name }}?')"
               href="{{ url_for('app.power_cycle',cycle_type='off',namespace=game.namespace, deployment_type=game.deployment_type, name=game.name) }}"><i
                    class="fa-solid fa-plug-circle-check" style="color: green" title="Click to Stop"></i></a> {{
            pod.status.phase }}
            {% else %}<a
                    href="{{ url_for('app.power_cycle',cycle_type='on',namespace=game.namespace, deployment_type=game.deployment_type, name=game.name) }}"><i
                    class="fa-solid fa-plug-circle-xmark" style="color: red" title="Click to Start"></i></a>
            {%endif%}
        </td>
    </tr>
    {% if game.pod_name %}
    <tr>
        <td>Start Time</td>
        <td><i class="fa-regular fa-clock"></i> {{ pod_running_since }} <a
                onclick="return confirm('Are you sure you want to restart {{ game.name }}?')"
                href="{{ url_for('app.restart',namespace=game.namespace, deployment_type=game.deployment_type, name=game.name) }}"><i
                class="fa-solid fa-recycle"></i></a></td>
    </tr>
    {% endif %}
    </tbody>
</table>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingConfiguration">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseConfiguration" aria-expanded="false"
                    aria-controls="collapseConfiguratione">
                Configuration
            </button>
        </h2>
        <div id="collapseConfiguration" class="accordion-collapse collapse" aria-labelledby="headingConfiguration"
             data-bs-parent="#accordionExample">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for env_var in game.env_vars %}
                <tr>
                    <th scope="row">{{ env_var.name }}</th>
                    <td>
                        <div id="{{ env_var.name }}" class="editable" contenteditable="true">{{ env_var.value }}</div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if game.pod_name %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingLogs">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseLogs" aria-expanded="false" aria-controls="collapseLogs">
                Logs
            </button>
        </h2>
        <div id="collapseLogs" class="accordion-collapse collapse" aria-labelledby="headingLogs"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
        <textarea id="pod_logs" rows="29" cols="100"
                  style="font-family: monospace; resize:none; border:none; outline:none;"
                  readonly></textarea>
            </div>
        </div>
    </div>
    {% if game_config.plugins.capable and game.plugins_enabled %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingPlugins">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePlugins" aria-expanded="false" aria-controls="collapsePlugins">
                Plugins
            </button>
        </h2>
        <div id="collapsePlugins" class="accordion-collapse collapse" aria-labelledby="headingPlugins"
             data-bs-parent="#accordionExample">
            <div class="accordion-body" id="plugin_list">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if game_config.plugins.configs.enabled and game.plugins_enabled %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingPluginConfigs">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePluginConfigs" aria-expanded="false" aria-controls="collapsePlugins">
                Plugin Configuration Files
            </button>
        </h2>
        <div id="collapsePluginConfigs" class="accordion-collapse collapse" aria-labelledby="headingPluginConfigs"
             data-bs-parent="#accordionExample">
            <div class="accordion-body" id="plugin_config_list">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>

{% endblock %}
{% block footer_content %}
{% if game.pod_name %}
<script>
function makeHttpObject()
{
    try {return new XMLHttpRequest();}
    catch (error) {}
    try {return new ActiveXObject("Msxml2.XMLHTTP");}
    catch (error) {}
    try {return new ActiveXObject("Microsoft.XMLHTTP");}
    catch (error) {}
    throw new Error("Could not create HTTP request object.");
}

function updateLogs()
{
    var request = makeHttpObject();
    request.open("GET", "{{ url_for('app.logs',namespace=game.namespace, name=game.pod_name) }}", true);
    request.send(null);
    request.onreadystatechange = function() {
      if (request.readyState == 4)
        changeTextAreaContent(request.responseText);
    };
}

function changeTextAreaContent(contents)
{
    var x = document.getElementById('pod_logs');
    x.value = contents;
}


function changeContent(elementId, contents)
{
    var x = document.getElementById(elementId);
    x.innerHTML = contents;
}


updateLogs()
const interval = setInterval(function() {
   updateLogs()
 }, 5000);

{% if game_config.plugins.capable %}
function getPluginList()
{
    var request = makeHttpObject();
    request.open("GET", "{{ url_for('app.list_plugins',namespace=game.namespace, name=game.name, game_name=game.game_name, deployment_type=game.deployment_type) }}", true);
    request.send(null);
    request.onreadystatechange = function() {
      if (request.readyState == 4)
        changeContent('plugin_list',request.responseText);
    };
}

getPluginList()

{% endif %}

{% if game_config.plugins.configs.enabled and game.plugins_enabled %}
function getPluginConfigList()
{
    var request = makeHttpObject();
    request.open("GET", "{{ url_for('app.list_plugin_configs',namespace=game.namespace, name=game.name, game_name=game.game_name, deployment_type=game.deployment_type) }}", true);
    request.send(null);
    request.onreadystatechange = function() {
      if (request.readyState == 4)
        changeContent('plugin_config_list',request.responseText);
    };
}

getPluginConfigList()

{% endif %}
</script>
{% endif %}
<script>

// Define the inline editing function
function inlineEdit(editable) {
  // Create an input element to replace the container element's contents
  const input = document.createElement('input');
  input.value = editable.textContent;

  // Replace the container element with the input element
  editable.replaceWith(input);

  // Add a blur event listener to the input element
  input.addEventListener('blur', function() {
    // Update the container element's contents with the edited text
    const editedText = input.value;
    const newEditable = document.createElement('div');
    newEditable.id = editable.id;
    newEditable.className = 'editable';
    newEditable.setAttribute('contenteditable', 'true'); // Add contenteditable attribute
    newEditable.textContent = editedText;
    input.replaceWith(newEditable);

    // Add a click event listener to the new "editable" element
    newEditable.addEventListener('click', function() {
      // Call the inline editing function again
      inlineEdit(newEditable);
    });

    // Make the new "editable" element editable again
    newEditable.setAttribute('contenteditable', 'true');

    // Send an HTTP POST request with the updated content and additional parameters
    const xhr = new XMLHttpRequest();
    const url = '/config';
    const params = `namespace={{ game.namespace }}&name={{ game.name }}&${editable.id}=${encodeURIComponent(editedText)}`;
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(params);
  });
}

// Get all elements with the "editable" class
const editables = document.querySelectorAll('.editable');

// Add a click event listener to each "editable" element
editables.forEach(function(editable) {
  editable.addEventListener('click', function() {
    inlineEdit(editable);
  });
});
</script>
{% endblock %}
