{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}{{ game.name }} ({{ game.game_name.title() }}){% endblock %}</h2>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tbody>
    <tr>
        <td>Status</td>
        <td>{% if game.pod_name %}
            <a onclick="return confirm('Are you sure you want to stop {{ game.name }}?')"
               href="{{ url_for('app.power_cycle',cycle_type='off',namespace=game.namespace, deployment_type=game.deployment_type, name=game.name) }}"><i
                    class="fa-solid fa-plug-circle-check" style="color: green" title="Click to Stop"></i></a> {{
            pod.status.phase }}
            {% else %}<a
                    href="{{ url_for('app.power_cycle',cycle_type='on',namespace=game.namespace, deployment_type=game.deployment_type, name=game.name) }}"><i
                    class="fa-solid fa-plug-circle-xmark" style="color: red" title="Click to Start"></i></a>
            {%endif%}
        </td>
    </tr>
    {% if game.pod_name %}
    <tr>
        <td>Start Time</td>
        <td><i class="fa-regular fa-clock"></i> {{ pod_running_since }} <a
                onclick="return confirm('Are you sure you want to restart {{ game.name }}?')"
                href="{{ url_for('app.restart',namespace=game.namespace, deployment_type=game.deployment_type, name=game.name) }}"><i
                class="fa-solid fa-recycle"></i></a></td>
    </tr>
    {% endif %}
    </tbody>
</table>

{% if game.pod_name %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Logs
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
        <textarea id="pod_logs" rows="29" cols="100"
                  style="font-family: monospace; resize:none; border:none; outline:none;"
                  readonly></textarea>
            </div>
        </div>
    </div>
    {% if game.game_name in games_which_support_plugins %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Plugins
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body" id="plugin_list">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
{% block footer_content %}
{% if game.pod_name %}
<script>
function makeHttpObject()
{
    try {return new XMLHttpRequest();}
    catch (error) {}
    try {return new ActiveXObject("Msxml2.XMLHTTP");}
    catch (error) {}
    try {return new ActiveXObject("Microsoft.XMLHTTP");}
    catch (error) {}
    throw new Error("Could not create HTTP request object.");
}

function updateLogs()
{
    var request = makeHttpObject();
    request.open("GET", "{{ url_for('app.logs',namespace=game.namespace, name=game.pod_name) }}", true);
    request.send(null);
    request.onreadystatechange = function() {
      if (request.readyState == 4)
        changeTextAreaContent(request.responseText);
    };
}

function changeTextAreaContent(contents)
{
    var x = document.getElementById('pod_logs');
    x.value = contents;
}


function changeContent(elementId, contents)
{
    var x = document.getElementById(elementId);
    x.innerHTML = contents;
}


updateLogs()
const interval = setInterval(function() {
   updateLogs()
 }, 5000);

{% if game.game_name in games_which_support_plugins %}
function getPluginList()
{
    var request = makeHttpObject();
    request.open("GET", "{{ url_for('app.list_plugins',namespace=game.namespace, name=game.name, game_name=game.game_name, deployment_type=game.deployment_type) }}", true);
    request.send(null);
    request.onreadystatechange = function() {
      if (request.readyState == 4)
        changeContent('plugin_list',request.responseText);
    };
}

getPluginList()

{% endif %}
</script>
{% endif %}
{% endblock %}
