{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Game List{% endblock %}</h2>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Game Deployment Name</th>
        <th scope="col">Status</th>
        <th scope="col">Restart</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr>
        <th scope="row"><a
                href="{{ url_for('app.details',namespace=game.namespace, name=game.name) }}">{{
            game.name }}</a></th>
        <td>{% if game.replicas > 0 %}<a onclick="return confirm('Are you sure you want to stop {{ game.name }}?')"
                                         href="{{ url_for('app.power_cycle',cycle_type='off',namespace=game.namespace, name=game.name) }}"><i
                class="fa-solid fa-plug-circle-check" style="color: green" title="Click to Stop"></i></a>{%
            else %}<a
                    href="{{ url_for('app.power_cycle',cycle_type='on',namespace=game.namespace, name=game.name) }}"><i
                    class="fa-solid fa-plug-circle-xmark" style="color: red" title="Click to Start"></i></a>{%endif%}
        </td>
        <td>
            <a onclick="return confirm('Are you sure you want to restart {{ game.name }}?')"
               href="{{ url_for('app.restart',namespace=game.namespace, name=game.name) }}"><i
                    class="fa-solid fa-recycle"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
