{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Game List{% endblock %}</h2>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Deployment Name</th>
        <th scope="col">Status</th>
        <th scope="col">Restart</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr>
        <th scope="row">{{ game.name }}</th>
        <td>{% if game.replicas > 0 %}<i class="fa-solid fa-plug-circle-check" title="Running"></i>{% else %}<i
                class="fa-solid fa-plug-circle-xmark" title="Stopped"></i>{%endif%}
        </td>
        <td><a href="restart"><i class="fa-solid fa-recycle"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
