<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">File Name</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
        <th scope="row">{{ file }}</th>
        <td>
            <a href="{{ url_for('app.delete_plugin', namespace=game.namespace, name=game.name, game_name=game.game_name, file_name=file, deployment_type=deployment_type) }}"><i
                    class="fa-regular fa-trash-can"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
